{% extends "main\index.html" %}

{% load static %}

{% block localstyle %}
     <link href="{% static 'css/style.css' %}" rel="stylesheet">
{% endblock %}

{% block description %}
<br>
<article class="intro">
    {% if name_of_url == 'recepty-s-gribami' %}
    <h1> Грибные рецепты </h1>
    <p>
        Зная съедобные грибы, никогда не пропадёшь в лесу. 
        А зная хорошие рецепты блюд из грибов, будешь всегда вкусно и сытно кушать! 
        Из грибов можно приготовить тысячи блюд, начиная наваристыми супами и заканчивая изысканными десертами.
         При этом считается, что есть самые вкусные грибы и так... все остальные. 
         Мы же считаем, что это слишком круто - делить дары природы таким образом. Более того, вкус блюда 
         с грибами целиком и полностью зависит от рецепта и навыков кулинара. 
         Поэтому не столько важно, какие грибы перед вами, гораздо важнее, что и как вы можете приготовить из грибов ...
    </p>
    <p>
        В данном разделе наши авторы делятся самыми удачными рецептами блюд 
        с грибами с пошаговыми фотографиями и инструкциями. Мы расскажем и покажем, что и как можно приготовить из грибов!
    </p>
    {% endif %}
    {% if name_of_url == 'stati-o-gribah' %}
        <h1>Статьи о грибах</h1>
        <p>
            Блоги и статьи о грибах будут полезны и интересны как опытным грибникам, так и новичкам. Какой гриб ядовитый, а какой полезный?
            Что стоит надеть для похода в лес? Чем отличается простая лисичка от ложной?
        </p>
        <p>
            Ответы на эти и другие вопросы ждут вас в данном разделе!
        </p>

    {% endif %}
    {% if name_of_url == 'gribnaya-medicina' %}
        <h1>Грибная медицина</h1>
        <p>
            Грибы имеют немаловажное значение в медицине. 
            Еще в далекой древности их начали применять в народной медицине наравне с травами, плодами и ягодами.
        </p>
        <p>
            О полезных свойствах некоторых грибов можно прочитать в данном разделе.
        </p>
    {% endif %}


    {% for article in articles %}
    <section class='article-card'>
        {% if article.article_image %}
        <a class="article-image"> <img src="{{ article.article_image.url }}" alt="{{article.title}}"> </a>
        {% endif %}
        <div class="article-aside">
            <hgroup><h3>{{ article.title }}</h3></hgroup>
            <div class="article-desk">
                <p>{{ article.description }}</p>
            </div>
        </div>
    </section>
    {% endfor %}
</article>

{% endblock %}