{% extends "main\index.html" %}

{% load static %}

{% block localstyle %}
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
{% endblock %}

{% block description %}
    <article class="intro">
        <h1 class="intro-title">Информация о сайте:</h1>
        <p> 
            <strong>
                Добро пожаловать в «MyShroom», где собрана наиболее полная и интересная информация 
                о различных видах грибов, места их обитания и способы их приготовления.
            </strong>
        </p>
        <p>
            Мы создали этот сайт в помощь всем тем, кто любит собирать, 
            заготавливать грибы, лакомиться ими и просто любоваться удивительным и многообразном миром грибов.
        </p>
        <p>
            Предложения по улучшению и доработке соответствующих разделов сайта можете оставлять по адресу электронной почты:
        </p>
        <p>
            <b>gnome123@example.ru</b>
        </p>
        <img src="{% static "img/gnom.png" %}" alt="Гном" class="gnome">
    </article>
{% endblock %}
