{% extends "main\index.html" %}

{% load static %}

{% block localstyle %}
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
{% endblock %}

{% block description %}
    <article class="intro">
        <h1 class="intro-title">Информация о сайте:</h1>
        <p> 
            <strong>
                Добро пожаловать в «MyShroom», где собрана наиболее полная и интересная информация 
                о различных видах грибов, места их обитания и способы их приготовления.
            </strong>
        </p>
        <p>
            Мы создали этот сайт в помощь всем тем, кто любит собирать, 
            заготавливать грибы, лакомиться ими и просто любоваться удивительным и многообразном миром грибов.
        </p>
        <p>
            В комментариях к данной странице вы можете оставлять свои отзывы и комментарии о сайте, а также предложения по его улучшению и доработкев соответсвующих разделах.
        </p>
    </article>
{% endblock %}
