{% extends "main\index.html" %}

{% load static %}

{% block localstyle %}
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <script></script>
{% endblock %}

{% block description %}
    <article class="intro">
        <h1 class="intro-title">Основная терминология:</h1>
        <p> 
            <strong>Агарикоидные грибы</strong> – Сборная нетаксономическая группа базидиомицетов, для которой характерно наличие мясистых, 
            сравнительно быстро развивающихся и недолго сохраняющихся (сгнивающих) плодовых тел. Типичное плодовое тело агарикоидного гриба состоит 
            из шляпки и ножки (иногда редуцированной) и имеет пластинчатый или трубчатый гименофор. 
        </p>
        <p>
            <strong>Ангиокарпное плодовое тело</strong> – Плодовое тело полностью замкнутое до полного созревания спор,
             иногда для высвобождения спор требуется его частичное разрушение. <br>
            Боковая ножка — ножка, расположенная на краю шляпки у грибов, растущих на вертикальных субстратах. <br>
            Булавовидное плодовое тело — плодовое тело некоторых афиллофоральных грибов, имеющее форму булавы.
        </p>
        <p>
            <strong>«Ведьмины кольца» (или «круги»)</strong> — расположение плодовых тел (карпофоров) шляпочных грибов довольно правильными кругами (кольцами)
            по периферии разрастающегося в почве мицелия от первоначального его источника — базидиоспоры, склероция или другого видоизменения мицелия. 
            Достигают иногда 600 м в диам. Свое название они получили в народе, считавшем такое разрастание грибов результатом проявления сверхъестественной силы.
        </p>
        <p>
            <strong> Галлюциногенные грибы </strong> — грибы, вызывающие галлюцинации при употреблении их в пищу. 
            Галлюциногенные свойства некоторых грибов были известны жрецам племени майя в древней Гватемале и Мексике, 
            которые использовали их при религиозных церемониях. Из Г. г., напр., из видов рода Psilocybe, выделены вещества псилоцин, псилоцибин,
             обладающие психотропным действием. Эти вещества в последние годы нашли применение в психотерапии.
        </p>
        <p>
            <strong>Млечный сок грибов</strong> — похожая на молоко прозрачная жидкость, 
            содержащаяся в плодовых телах всех видов млечников (виды рода Lactarius), а изредка 
            и в плодовых телах некоторых других родов высших грибов, например, некоторых мицен. 
            (виды рода Mycena) и вытекающая при ранении плодового тела.
        </p>
        <p>
            <strong> Термофильные грибы</strong> — группа грибов, которые могут развиваться при повышенных 
            температурах и вызывать самонагревание органических материалов (зерна, сена, навоза, торфа и др.).
        </p>
    </article>
{% endblock %}
