{% extends "main\index.html" %}

{% load static %}

{% block localstyle %}
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
{% endblock %}

{% block description %}
    <article class="intro">
        <h1 class="intro-title">Правила сайта:</h1>
        <p> 
            Наш сайт предполагает свободное общение на разнообразные окологрибные темы, при этом Ваши высказывания сразу же публикуются. 
            Будьте корректны и вежливы. В случае, если в сообщении нарушаются элементарные общепринятые этические нормы, 
            администрация может отредактировать Ваше сообщение или удалить его.
        </p>
        <p>
            Все сообщения, отчеты, статьи, вопросы и фотографии публикуются пользователями добровольно и их размещение является <strong>обнародованием</strong> (ГК 1268).
        </p>
        <p>
            Загружая фотографии при публикации вопроса в «Распознавании грибов», 
            Вы автоматически соглашаетесь с тем, что Ваши фотографии могут быть использованы для иллюстрации
            статей как со ссылкой на Ваш вопрос или профиль, так и без ссылки.
        </p>
        <p>
            Настоятельно рекомендуется воздерживаться от использования местечковых, 
            диалектных форм и чрезмерного использования научных терминов. Пишите так, чтобы Вас понимали.
        </p>
        <p>
            Относитесь к своим сообщениям с полной ответственностью, 
            особенно это касается комментариев в Распознавателе. 
            Помните, что от Ваших ответов могут зависеть жизнь и здоровье доверившихся Вам людей.

        </p>
        <p>
            Администрация оставляет за собой право удалять «сообщения ради сообщений» без предупреждений. 
            В случае рецидивов такое поведение будет расцениваться как попытка поднять себе рейтинг, пользователь может быть заблокирован.
        </p>
        <p>
            Уважайте мнение других людей. Своё мнение высказывайте вежливо и аргументировано. 
            Не стоит навязывать всем свою точку зрения как единственно правильную.
        </p>
        <p>
            Не злоупотребляйте курсивом, Caps Lock’ом, жирным шрифтом и сочетаниями знаков типа !!! или ??? 
            (чрезмерное их употребление может расцениваться как крик и вызывать справедливое раздражение).
        </p>
    </article>
{% endblock %}
