{% extends "main\index.html" %}

{% load static %}

{% block localstyle %}
     <link href="{% static 'css/style.css' %}" rel="stylesheet">
{% endblock %}


{% block description %}
<article class="inner-content-type">
    {% if type == 'edible' %}
    <h1>Съедобные грибы</h1>
    <p>Съедобными грибами обычно называют грибы, которые можно употреблять 
        в пищу без риска для здоровья, при этом, не подвергая их предварительной тепловой обработке. 
        Они имеют высокую гастрономическую ценность.</p>
    <p>Съедобные грибы отличаются от несъедобных и ядовитых в первую очередь строением гименофора, формой и цветом плодового тела, и лишь в последнюю очередь запахом.</p>
    {% elif type == 'unedible' %}
    <h1>Несъедобные грибы</h1>
    <p>Несъедобные грибы еще часто называют «Поганки». Их не рекомендуется употреблять в пищу, 
        чаще всего из-за вкусовых качеств, твердой консистенции или слишком малых размеров.</p>
    {% elif type == 'poisonous' %}
    <h1>Ядовитые грибы</h1>
    <p>Грибы, содержащие в себе различные ядовитые вещества— токсины. Употребление всех этих видов повлечет серьёзные отравления организма. 
        А некоторые из них, могут стать причиной мучительной смерти от отравления. Будьте осторожны!
    </p>
    <p>
        Все ядовитые грибы, содержащие различные яды и токсины. Употребление этих видов повлечет серьёзные отравления организма или мучительной смерти от отравления. Будьте осторожны!
        По характеру отравления ядовитые грибы делят на 3 группы: вызывающие пищевые отравления, вызывающие нарушение деятельности нервной системы и смертельно-ядовитые.
    </p>
    {% elif searched %}
        {% if not mushrooms %}
            <h1>Извините, но по вашему запросу ничего не найдено!</h1>
            <img src="{% static "img/mushroom_search.png" %}" alt="Гриб не найден" class="grib404_search">
        {% else %}
            <h1>Результаты вашего поиска: </h1>
        {% endif %}
    <br>
    {% else %}
    <h1>Виды грибов</h1>
    <p>Все грибы на сайте размещаются с описанием и прилагающимся к нему фото.
    Представлены виды грибов, растущие на территории России и СНГ.</p>
    {% endif %}
    {% for mushroom in mushrooms %}
    <section class="mushroom-card">
        <a class="image" href="{% url "mushroom_db:mushroom" mushroom.url %}">
            {% if mushroom.image %}
                <img src="{{ mushroom.image.url }}" alt="{{ mushroom.name }}">
            {% else %}
                <img src="{% static "img/not_found.png" %}" alt="{{ mushroom.name }}">
            {% endif %}
            <div class="mushroom-icons">
            {% if mushroom.type.name == "Несъедобные" %}
                <div class="not-edible">
                </div>
            {% endif %}
            {% if mushroom.type.name == "Ядовитые" %}
                <div class="poisonous">
                </div>
            {% endif %}
            {% if mushroom.type.name == "Съедобные" %}
                <div class="edible-grib">
                </div>
            {% endif %}
            </div>
        </a>
        <div class="card-info">
            <hgroup>
                <h3>
                    <a href="{% url "mushroom_db:mushroom" mushroom.url %}" class='mushroom-link'> 
                        {{ mushroom.name }} 
                    </a>
                </h3>
                <h4>
                    ({{ mushroom.latin }})
                </h4>
                <div>
                    <p>
                        Синонимы: {{ mushroom.syn }}
                    </p>
                </div>
            </hgroup>
            <div class="card-desc">
                <p>
                    {{ mushroom.description }}
                </p>
                <p>
                    {{ mushroom.extras }}
                </p>
            </div>
        </div>
    </section>
    {% endfor %}
</article>
{% endblock %}
