{% extends "main\index.html" %}
{% load type_tags %}
{% load static %}

{% block localstyle %}
     <link href="{% static 'css/style.css' %}" rel="stylesheet">
{% endblock %}

{% block description %}
<article class="inner-content-mushroom">
    <h2 class="mushroom-card-title">{{mushroom.name}} ({{mushroom.latin}})</h2>
    <div class="mushroom-card-img">
        <img src="{{ mushroom.image.url }}" alt="{{ mushroom.name }}" class="mushroom-card-picture">
    </div>
    <h2 class="mushroom-card-desc">Описание:</h2>
    <p>{{mushroom.full_description | safe}}</p>
</article>
{% endblock %}